@font-face {
   font-family: 'Maxime W04 Bold';
   font-display: swap;
   src: url('file:///C:/Users/MKT13/AppData/Local/Mobirise.com/Mobirise/projects/project-2025-08-19_222220/fonts/Maxime%20W04%20Bold/font.ttf');
}
