@font-face {
   font-family: 'Vampire Wars';
   font-display: swap;
   src: url('Vampire Wars/font.ttf');
}
@font-face {
   font-family: 'Maxime W04 Bold';
   font-display: swap;
   src: url('Maxime W04 Bold/font.ttf');
}
