@font-face {
   font-family: 'Vampire Wars';
   font-display: swap;
   src: url('file:///C:/Users/MKT13/OneDrive/%C3%81rea%20de%20Trabalho/Trabalhos%20atuais/Anna%20Maz%20Site/fonts/Vampire%20Wars/font.ttf');
}
